/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  background-color: var(--main-color);
}

.header {
  display: grid;
  justify-items: end;
  padding: 10px;
}

.header__decorate-element {
  position: absolute;
  right: 38px;
  top: 10px;
}

.header__decorate-element::before {
  content: 'rec';
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__decorate-element::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 9px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 65px;
}

.header__theme-menu-button {
  padding-inline: 13px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

.header__content {
  padding-block: 55px;
  color: var(--main-color);
  line-height: 23.4px;
  font-weight: bold;
  width: max(355px, 50%);
}

.title-decor {
  background-color: var(--accent-color);
}